.RepoDetails {
	color: white;
}

.RepoDetails__Sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
	color: white;
}

.RepoDetails__Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
