* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	background-color: #f7f7f7;
	background-image: url("/assets/bg2.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	min-height: 100vh;
}

h1,
h2,
h4,
h5,
h6 {
	margin: 0;
	font-family: MuseoSlab, sans-serif;
	color: white;
}

.h-full-screen {
	height: 90vh;
	width: 100%;
}

.Page__header {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0!important;
}

.ant-page-header-heading {
	width: auto;
}

.ant-page-header-content {
	padding: 0!important;
}
