* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
}

main {
	min-height: 100vh;
}

h1,
h2,
h4,
h5,
h6 {
	margin: 0;
	font-family: MuseoSlab, sans-serif;
	color: #fff;
}

.h-full-screen {
	height: 90vh;
	width: 100%;
}

.Page__header {
	height: 10vh;
	display: flex;
	align-items: center;
}
